<li class="mainHeaderMenu" style="margin-left: 380px;">
    <a class="dropButton" href='@Url.Action("UserList", "User")'>User List</a>
</li>
<li class="mainHeaderMenu">
    <a class="dropButton" href='@Url.Action("MachineList", "Machine")'>Machine List</a>
</li>