<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <!--sql server database connection information-->
    <add key="SqlConnectionString" value="Data Source=10.128.65.66;database=MachineManagementDB;UID=ostcuser;PWD=05exxxx"/>

    <!-- web applicatoin settings used by server-->
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>

  <system.web>
    <customErrors mode="Off"/>
    <authentication mode="Windows"/>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2" maxRequestLength="30000" executionTimeout="60" requestValidationMode="2.0" />
    <pages validateRequest="false"/>
    <!--please change IIS Application Pool idle timeout too-->
    <sessionState timeout="60"/>
  </system.web>
  
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="30000000" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
